[client]
default-character-set = ${MARIADB_DEFAULT_CHARACTER_SET}

[mysqld]
character-set-server = ${MARIADB_CHARACTER_SET_SERVER}
collation-server = ${MARIADB_COLLATION_SERVER}
character_set_server = ${MARIADB_CHARACTER_SET_SERVER}
collation_server = ${MARIADB_COLLATION_SERVER}
